<div class="final d-flex flex-column justify-content-center align-items-center">
  <app-btn text="Más"></app-btn>
  <h3 class="text-center">¿Qué tenebrosa enfermedad te persigue?</h3>
  <p class="text-center">Encuentra tu NFT personalizado y adéntrate en el perverso mundo de Hellzel´s Mind. </p>
  <div class="paper-container w-100 d-flex justify-content-center">
  <img src="../../../assets/img/etc/letter.png" class="letter" alt="" id="letter">
    <div class="paper d-flex flex-column flex-md-row  align-items-center justify-content-center position-absolute">
      <div class="paper-box1">
        <div>
          <h4 class="text-center">¿Cuándo despiertas qué es lo
            primero que deseas hacer? </h4>
          <ul class="ps-0 text-center">
            <li>Asesinar a un par de personas por cómo te miraron el día anterior.</li>
            <li>Seguir durmiendo, pues sientes un cansancio extremo, como si hubieses enterrado un cuerpo.</li>
            <li>Bajar a coger un cuchillo a la cocina… para prepararte el desayuno, el hambre te acecha.</li>
          </ul>
        </div>

      </div>
      <div class="paper-box2">
        <div>
          <img src="../../../../assets/img/picture/nft-black.png" alt="">
        </div>
      </div>

      <div class="next position-absolute d-flex flex-column align-items-center justify-content-center">
        <img src="../../../../assets/img/picture/finger.png" alt="">
        <app-btn text="Siguiente"></app-btn>

      </div>
    </div>
  </div>

</div>
