<div class="final d-flex flex-column justify-content-center align-items-center">
  <a href="https://discord.com/invite/a5dqwnDq7j" target="_blank"><app-btn text="Más"></app-btn></a>
  <h3 class="text-center">{{'home.final.1' | translate}}</h3>
  <p class="text-center">{{'home.final.2' | translate}}</p>
  <div class="paper-container w-100 d-flex justify-content-center">
  <img src="../../../assets/img/etc/letter.png" class="letter" alt="" id="letter">
    <div class="paper d-flex flex-column flex-md-row  align-items-center justify-content-initial justify-content-md-center  position-absolute">
      <div class="paper-box1">
        <div>
          <h4 class="text-center" id="pregunta">{{pregunta}}</h4>
          <ul class="ps-0 text-center">
            <li>{{r1}}</li>
            <li>{{r2}}</li>
            <li>{{r3}}</li>
          </ul>
        </div>
      </div>
      <div class="paper-box2">
        <div>
          <img src="../../../../assets/img/picture/nft-black.png" alt="">
        </div>
      </div>
      <div class="paper-box3">
        <h4>{{'home.final.3' | translate}}</h4>
        <img src="../../../../assets/img/picture/nfts/{{nft}}.png" alt="">
        <p>{{name}}</p>
        <app-btn text="Mint" routerLink="/mint" class=""></app-btn>
      </div>

      <div class="next position-absolute d-flex flex-column align-items-center justify-content-center">
        <img src="../../../../assets/img/picture/finger.png" alt="">
        <app-btn text="{{btn}}" ></app-btn>

      </div>
    </div>
  </div>

</div>
