@import "../../styles.scss";
.lang {
  width: 80px;
  padding: 0.2rem 0;
  border-radius: 0.5rem;
  background-color: $red1;
  &:hover {
    .lang- {
      display: block !important;
    }
  }
  span {
    cursor: pointer;
    font-size: 1.1rem;
    &:hover {
      color: $yellow;
    }
  }
  &- {
    display: none;
  }
  .lang-active {
    color: $white2;
  }
}
