<footer class="d-flex flex-column align-items-center justify-content-center" id="help">
  <h3 class="text-center">{{'footer.1' | translate}}</h3>
  <p class="text-center">{{'footer.2' | translate}}</p>
  <app-btn2 text="{{pais}}" id="pais"></app-btn2>
  <div>
    <a href="https://discord.com/invite/a5dqwnDq7j" target="_blank" rel="noopener noreferrer">
      <img src="../../../assets/img/logo-icons/discord.webp" alt="">
    </a>
    <a href="https://www.facebook.com/HellzelsMind?mibextid=LQQJ4d" target="_blank" rel="noopener noreferrer">
      <img src="../../../assets/img/logo-icons/facebook.webp" alt="">
    </a>
    <a href="https://instagram.com/hellzelsmind?igshid=MWI4MTIyMDE=" target="_blank" rel="noopener noreferrer">
      <img src="../../../assets/img/logo-icons/instagram.webp" alt="">
    </a>
    <a href="https://twitter.com/hellzelsmind" target="_blank" rel="noopener noreferrer">
      <img src="../../../assets/img/logo-icons/twitter.webp" alt="">
    </a>
  </div>
  <div class="helpline-div d-flex flex-column align-items-center justify-content-center">
    <span>{{'footer.3' | translate}}</span>
    <a id="url" href="{{url}}" target="_blank" class="helpline">Hellzel.com/help/{{pais}}</a>
  </div>
  <div class="lang position-relative ">
    <app-lang class="lang-component"></app-lang>
  </div>
</footer>

<div class="screen-paises">
  <app-paises-select class="paper-pais"></app-paises-select>

  <div class="paper-pais position-absolute d-flex align-items-start">
    <div class="d-block paper-pais-a">
      <a *ngFor="let pais of getPais;" (click)="data( pais.url ,pais.pais)"
        class="paper-pais-title text-center d-block">{{pais.pais}}</a>
    </div>
  </div>

</div>
