@import "../../../styles.scss";

* {
  color: $cake;
}

footer {
  background-color: transparent;
  background-image: url(../../../assets/img/etc/marco2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 3rem 3rem 3.5rem 3rem;
  @media screen and (max-width: 1390px) {
    background-image: url(../../../assets/img/etc/marcomovil2.svg);
    padding: 3rem 3rem 0 3rem;
    width: 800px;
    margin: 0 auto;
    height: 600px;
    @media screen and (max-width: 800px) {
      background-image: url(../../../assets/img/etc/marcomovil2-a.svg);
      width: 465px;
      height: 710px;
      @media screen and (max-width: 465px) {
        background-image: url(../../../assets/img/etc/marcomovil2-b.svg);
        width: 320px;
        height: 660px;
        padding: 0 3rem 0 3rem;
      }
    }
  }

  h3 {
    font-family: "Mr Dafoe";
    font-size: 4.5rem;
    @media screen and (max-width: 800px) {
      font-size: 3rem;
      line-height: 2.7rem;
    }
  }
  p {
    max-width: 760px;
    margin: 2rem auto 1rem;
  }
  div {
    margin-top: 2rem;
    img {
      width: 80px;
      @media screen and (max-width: 800px) {
        width: 65px;
        @media screen and (max-width: 465px) {
          width: 55px;
        }
      }
    }
  }
  .helpline {
    background-color: $cake2;
    padding: 0.6rem;
    border-radius: 1rem 1rem 0 0;
    color: $red3;
    transform: translateY(16px);
    @media screen and (max-width: 800px) {
      font-size: .85rem;
      transform: translateY(47px);
      margin-top: -2rem;
    }
  }
}
