<footer class="d-flex flex-column align-items-center justify-content-center">
  <h3 class="text-center">¿Necesitas ayuda?</h3>
  <p class="text-center">Nos preocupamos por tu salud mental, así que si sientes que necesitas ayuda no dudes en pedirla lo antes posible. Te dejamos líneas de atención en el mundo para contacto: </p>
  <app-btn2 text="Colombia"></app-btn2>
  <div>
    <a href="#" target="_blank" rel="noopener noreferrer">
      <img src="../../../assets/img/logo-icons/discord.png" alt="">
    </a>
    <a href="#" target="_blank" rel="noopener noreferrer">
      <img src="../../../assets/img/logo-icons/facebook.png" alt="">
    </a>
    <a href="#" target="_blank" rel="noopener noreferrer">
      <img src="../../../assets/img/logo-icons/instagram.png" alt="">
    </a>
    <a href="#" target="_blank" rel="noopener noreferrer">
      <img src="../../../assets/img/logo-icons/twitter.png" alt="">
    </a>
  </div>
  <span>Línea Amiga Medellín</span>
  <a href="www.helpline.com.co/1234567890" target="_blank" rel="noopener noreferrer" class="helpline">www.helpline.com.co/1234567890</a>
</footer>
