<header class="header container-fluid" id="header-menu">
  <div class="header-welcome d-flex justify-content-center align-items-center ">
      <div class="header-welcome-container d-flex flex-column justify-content-center align-items-center w-100">
        <img src="../../../assets/img/logo-icons/logo.svg" alt="">
        <div class="header-welcome-container-btn d-flex flex-column flex-sm-row  justify-content-between align-items-center">
          <app-btn class="story" text="See Story"></app-btn>
          <button class="mint mt-sm-0 mt-4" routerLink="/mint">{{'start' | translate}}</button>
        </div>
      </div>
  </div>

  <div class="header-menu">
    <ul class="d-flex justify-content-center  justify-content-lg-between w-100">
      <li><a href="#hero">{{'header.1' | translate}}</a></li>
      <li><a href="#history">{{'header.2' | translate}}</a></li>
      <li><a href="#diagnostico">{{'header.3' | translate}}</a></li>
      <div class="header-menu-img active" >
        <div class="header-menu-img-container d-flex justify-content-center align-items-end  position-relative">
          <img src="../../../assets/img/logo-icons/logo.svg" alt="">
        </div>
      </div>
      <li><a href="#nft">{{'header.4' | translate}}</a></li>
      <li><a href="#faq">{{'header.5' | translate}}</a></li>
      <li><a href="#help">{{'header.6' | translate}}</a></li>
    </ul>
  </div>
  <div class="header-global">
    <div class="header-menu-movil">
      <div class="logo d-flex justify-content-center align-items-center position-relative">
        <img src="../../../assets/img/logo-icons/logo.svg" alt="">
      </div>
      <ul class="d-flex justify-content-center flex-column w-100">
        <li><a href="#hero">{{'header.1' | translate}}</a></li>
        <li><a href="#history">{{'header.2' | translate}}</a></li>
        <li><a href="#diagnostico">{{'header.3' | translate}}</a></li>
        <li><a href="#nft">{{'header.4' | translate}}</a></li>
        <li><a href="#faq">{{'header.5' | translate}}</a></li>
        <li><a href="#help">{{'header.6' | translate}}</a></li>
      </ul>
      <p class="close d-flex justify-content-center align-items-center">
        <img src="../../../assets/img/logo-icons/left.svg" class="position-absolute" alt="">
        {{'close' | translate}}
      </p>

    </div>
  </div>
</header>
