<div class="parallax row">
  <div class="brain-container">
    <img src="../../../../assets/img/picture/nft-parts/brain.png" class="brain-container-item" alt="parallax-img">
  </div>
  <div class="col-12 col-lg-6 parallax-box1">
    <div class="parallax-box1-nft d-flex flex-column align-items-center">
        <div class="hellzel-head">
          <img src="../../../../assets/img/picture/nft-parts/hellzel-head.png" class="forehead" alt="parallax-img">
        </div>

      <ngx-parallax-scroll [config]="hellzel" class="face-container">
        <img src="../../../../assets/img/picture/nft-parts/hellzel.png" class="face hellzel" alt="parallax-img">
      </ngx-parallax-scroll>
    </div>
  </div>
  <div class="col-12 col-lg-6 parallax-box2 " id="paper1">
    <div class="parallax-box2-container d-flex align-items-center justify-content-center">
      <app-title-sub-p
      title="Hellzel"
      sub="Yo"
      info1="Una mente infantil y retrasada para su edad, que ha comenzado a conocer el lado más oscuro de su interior, sin entender que es una incubadora de incontables enfermedades con las que deberá sobrellevar una vida llena de desconocimiento, poca empatía, bullying y desamor. Un ser introvertido, tímido, sensible y miedoso que poco a poco irá creando dentro de sí su mundo
      ideal de fantasía."
      ></app-title-sub-p>
    </div>
  </div>

  <!-- ************************************************ -->
  <div class="col-12 parallax-box3">
    <div class="parallax-box3-container" id="paper2">
      <div class="parallax-box3-container-one d-flex align-items-center justify-content-center">
        <div>
          <h3 class="text-center">Diagnóstico</h3>
          <p class="info text-center">Exploramos de forma inmersiva las enfermedades mentales a través de la vida de un
            joven que
            deberá enfrentarse a su lado más oscuro, en una sociedad que aún no comprende cómo es vivir preso de sus
            pensamientos más perversos. Educación mental a través de humor sarcástico,<br>
            crudo y visceral.

          </p>
        </div>
      </div>
      <div class="parallax-box3-container-two d-flex justify-content-center align-items-center">
        <div class="diagnosis diagnosis-one">
          <ul>
            <li>Ansiedad</li>
            <li>Depresión</li>
            <li>Desorden<br>
              Alimenticio</li>
            <li>TEPT</li>
            <li>Déficit de<br>
              Atención</li>
          </ul>
        </div>
        <div class="brain">
          <img src="../../../../assets/img/picture/nft-parts/brain.png" alt="brain">
        </div>
        <div class="diagnosis diagnosis-two">
          <ul>
            <li>Bipolaridad</li>
            <li>Esquizofrenia</li>
            <li>DiD</li>
            <li>Autismo</li>
            <li>Desorden de<br>
              Pánico</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- ****************************************************************** -->
  <div class="col-12 col-lg-6 parallax-box4">
    <div class="parallax-box4-nft d-flex flex-column align-items-center" data-speed=".75">
      <ngx-parallax-scroll [config]="pennyHead">
        <img src="../../../../assets/img/picture/nft-parts/penny-head.png" class="forehead" alt="parallax-img">
      </ngx-parallax-scroll>

      <ngx-parallax-scroll [config]="penny" class="face-container">
        <img src="../../../../assets/img/picture/nft-parts/penny.png" class="face" alt="parallax-img">
      </ngx-parallax-scroll>
    </div>
  </div>
  <div class="col-12 col-lg-6 parallax-box2 parallax-box5">
    <div class="parallax-box2-container parallax-box5-container d-flex align-items-center justify-content-center" >
      <app-title-sub-p id="paper3"
      title="Penny"
      sub="Ello"
      info1="El polo opuesto de Hellzel, su lado oscuro, sus pensamientos más escondidos, sus ganas de devorarse, de una manera literal, al mundo y a quien en su camino se cruce. Altivo, iracundo, descontrolado y desalmado. No le teme a las consecuencias porque para él son inexistentes, no cuenta con un gramo de empatía o amor, ya que no lo conoce."
      ></app-title-sub-p>
    </div>
  </div>


</div>
