<div class="faq position-relative">
  <div class="row">
    <div class="col-12 col-lg-6 faq-box1 d-flex align-items-center">
      <ng-lottie containerClass="hands" class="hands position-absolute" id="hands" [options]="hands"></ng-lottie>
    </div>
    <div class="col-12 col-lg-6 faq-box2 d-flex align-items-center justify-content-center">
      <div>
        <h3 class="text-center">Prejuicios</h3>
        <p class="d-flex align-items-center justify-content-center me"> Preguntas frecuentes </p>
        <div class="faq-box2-list d-flex flex-column justify-content-center align-items-center ">
          <app-btn2 class="faq-btn" text="¿Cuántas piezas habrá en la colección NFT?"></app-btn2>
          <app-btn2 class="faq-btn" text="¿Precio del Mint?"></app-btn2>
          <app-btn2 class="faq-btn" text="¿En qué parte de Blockchain estará el mint?"></app-btn2>
          <app-btn2 class="faq-btn" text="¿Qué obtendré con la compra del NFT?"></app-btn2>
          <app-btn2 class="faq-btn" text="¿Habrá más personajes en NFT?"></app-btn2>
          <app-btn2 class="faq-btn" text="¿Cómo se financiará la serie animada?"></app-btn2>
          <app-btn2 class="faq-btn" text="¿Cuántos capítulos tendrá la serie?"></app-btn2>
          <app-btn2 class="faq-btn" text="¿Cuál será la plataforma de reproducción?"></app-btn2>
        </div>
      </div>
    </div>
    <div class="faq-screen">
      <app-paper
      id="faq0"
       title="¿Cuántas piezas habrá en la colección NFT?"
       desc="Esta es una colección de 6.666 piezas ilustradas alimentada por la serie animada con
        exclusividad para 300 NFT que vendrán en formato de animación en GIF y acceso al MISTERY BOX."></app-paper>
      <app-paper
      id="faq1"
      title="¿Precio del Mint?"
      desc="Cada pieza gráfica y única de Hellzel tendrá un costo de 230 USDT, que te dará acceso exclusivo a todo el ecosistema del proyecto. ">
      </app-paper>
      <app-paper
      id="faq2"
      title="¿En qué parte de Blockchain estará el mint?"
      desc="Ethereum, una de las mejores plataformas para ejecutar contratos inteligentes y operaciones descentralizadas.">
      </app-paper>
      <app-paper
      id="faq3"
      title="¿Qué obtendré con la compra de un NFT de Hellzel´s Mind?"
      desc="Esta es una colección de 6.666 piezas ilustradas alimentada por la serie animada con
      exclusividad para 300 NFT que vendrán en formato de animación en GIF y acceso al MISTERY BOX."></app-paper>
      <app-paper
      id="faq4"
      title="¿Habrá más personajes en NFT?"
      desc="La serie dejará abierta la posibilidad de sumar nuevas colecciones, con otros personajes, elementos y lugares que aparezcan en ella, haciendo que el Universo se expanda cada vez más.">
      </app-paper>
      <app-paper
      id="faq5"
      title="¿Cómo se financiará la serie animada?"
      desc="Con el presupuesto obtenido gracias a los holders con la compra de la primera colección lanzada de 6.666 piezas ilustradas.">
      </app-paper>
      <app-paper
      id="faq6"
      title="¿Cuántos capítulos tendrá la serie? "
      desc="Se estipula una primera temporada con 10 episodios de una duración máxima de 7 minutos, estrenando el capítulo piloto en el mes de octubre. ">
      </app-paper>
      <app-paper
      id="faq7"
      title="¿Cuál será la plataforma de reproducción de Hellzel?"
      desc="Contando con las herramientas y oportunidades otorgadas por la Web3, Hellzel´s Mind será parte de la lista de contenido exclusivo de la plataforma MEST, un canal streaming montado en Blockchain con el fin de hacer parte a toda una comunidad de su ejecución y desarrollo de la mano de creadores independientes. ">
      </app-paper>
    </div>
  </div>
</div>
