<div class="faq position-relative" id="faq">
  <div class="row">
    <div class="col-12 col-lg-6 faq-box1 d-flex align-items-center">
      <ng-lottie containerClass="hands" class="hands position-absolute" id="hands" [options]="hands"></ng-lottie>
    </div>
    <div class="col-12 col-lg-6 faq-box2 d-flex align-items-center justify-content-center">
      <div>
        <h3 class="text-center">{{'home.faq.prejuicios' | translate}}</h3>
        <p class="d-flex align-items-center justify-content-center me"> {{'home.faq.title' | translate}}</p>
        <div class="faq-box2-list d-flex flex-column justify-content-center align-items-center ">
          <app-btn2 class="faq-btn" text="{{'home.faq.'+(i+1) | translate}}"
            *ngFor="let item of ['','','','','','','','']; index as i" (click)="openFaq(i + 1)"></app-btn2>
        </div> 
      </div> 
    </div>
    <div class="faq-screen" *ngIf="faqShow" (click)="closeFaq()">
      <app-paper title="{{'home.faq.'+(id) | translate}}" desc="{{'home.faq.r'+(id) | translate}}" (click)="stopPropagation($event)"></app-paper>
    </div>
  </div> 
</div>