<div class="container-fluid home px-0 mx-0" id="scroll">
  <div class="section1 position-relative" id="hero">
    <app-header></app-header>
    <div class="row">
      <div class="col-12 col-lg-6 section1-box1 d-flex align-items-center justify-content-end">
        <div class="section1-box1-container d-flex flex-column  justify-content-center">
          <div>
            <p class="mb-0">{{'home.section1.title1' | translate}}</p>
            <h2 class="text-center text-lg-start">{{'home.section1.title2' | translate}}</h2>
            <button routerLink="/mint">{{'start' | translate}}</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 section1-box2 d-flex align-items-end">
        <div class="section1-box2-container">
          <img src="../../../assets/img/picture/nft1.png" alt="">
        </div>
      </div>
    </div>
    <ng-lottie containerClass="fire-animation" class="fire-animation" [options]="option"
      (animationCreated)="animationCreated($event)"></ng-lottie>
  </div>
  <img src="../../../assets/img/etc/buen-paper.png" class="w-100 buen-paper " alt="">
  <div class="section2 position-relative">
    <div class="section2-container" id="history">
      <div>
        <h3 class="text-center">{{'home.section2.title' | translate}}</h3>
        <p>{{'home.section2.p' | translate}}</p>
      </div>
    </div>
  </div>
  <app-parallax1></app-parallax1>
  <div class="section4 d-flex">
    <div class="row d-flex align-items-center">
      <div class="section4-box1 col-12 col-lg-6">
        <div class="section4-box1-item d-flex align-items-center justify-content-center" id="nft">
          <app-title-sub-p title="NFT" sub="{{'home.section3.title' | translate}}" info1="{{'home.section3.p1' | translate}}"
            info2="{{'home.section3.p2' | translate}}">
          </app-title-sub-p>
        </div>
      </div>
      <div class="section4-box2 col-12 col-lg-6">
        <app-carrusel-nft></app-carrusel-nft>
      </div>
    </div>
  </div>
  <img src="../../../assets/img/etc/buen-paper.png" class="w-100 buen-paper4" alt="">
  <div class="section5">
    <div class="row justify-content-between">
      <div class="section5-box1 d-flex align-items-center row">
        <div class=" d-flex justify-content-center align-items-center w-100">
          <app-btn text="Mint" routerLink="/mint"></app-btn>
        </div>
      </div>
      <div class="section5-box2 col-12">
        <div class="section5-box2-container">
          <div>
            <h3 class="text-center">{{'home.section4.title' | translate}}</h3>
            <p class="parrafo1 text-center">{{'home.section4.p' | translate}}</p>
            <div class="card">
              <ul>
                <li>
                  <div>1</div> {{'home.section4.1' | translate}}
                </li>
                <li>
                  <div>2</div> {{'home.section4.2' | translate}}
                </li>
                <li>
                  <div>3</div> {{'home.section4.3' | translate}}
                </li>
                <li>
                  <div>4</div> {{'home.section4.4' | translate}}
                </li>
                <li>
                  <div>5</div> {{'home.section4.5' | translate}}
                </li>
                <li>
                  <div>6</div> {{'home.section4.6' | translate}}
                </li>
              </ul>
            </div>
            <p class="parrafo1 text-center">
              {{'home.section4.p2' | translate}}
              <br><br>
              {{'home.section4.p3' | translate}}

            </p>
          </div>
        </div>
      </div>
      <div class="section5-box3 col-12">
        <div class="section5-box3-container d-flex justify-content-between align-items-center">
          <a href="https://discord.com/invite/a5dqwnDq7j" target="_blank"><app-btn text="Join Discord"></app-btn></a>
          <a href="https://discord.com/invite/a5dqwnDq7j" target="_blank"><img src="../../../assets/img/logo-icons/discord.svg" alt=""></a>
        </div>
      </div>
      <div class="section5-box4 col-12">
        <h3 class="text-center">{{'home.section5.title' | translate}}</h3>
        <p class="parrafo1 text-center">
          {{'home.section5.p' | translate}}

        </p>
      </div>
    </div>
  </div>
  <div class="section6 d-flex align-items-center">
    <div class="row">
      <div class="col-12 col-lg-5 section6-box1 d-flex justify-content-center align-items-center">
        <div class="section6-box1-container d-flex align-items-center">
          <ul>
            <li>
              <div></div> {{'home.section6.1' | translate}}
            </li>
            <li>
              <div></div> {{'home.section6.2' | translate}}
            </li>
            <li>
              <div></div> {{'home.section6.3' | translate}}
            </li>
            <li>
              <div></div> {{'home.section6.4' | translate}}
            </li>
            <li>
              <div></div> {{'home.section6.5' | translate}}
            </li>
            <li>
              <div></div> {{'home.section6.6' | translate}}
            </li>
            <li>
              <div></div> {{'home.section6.7' | translate}}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-7 section6-box2 d-flex justify-content-center align-items-center">
        <img src="../../../assets/img/picture/box.png" alt="">
      </div>
    </div>
  </div>
  <div class="section7 position-relative">
    <div class="section7-container d-flex flex-column align-items-center justify-content-center">
      <h3>{{'home.section7.title' | translate}}</h3>
      <h4>{{'home.section7.phase' | translate}}</h4>
      <div class="list-roap">
        <div *ngIf="roapActive == false; else elseBlock">
          <ul>
            <li>{{'home.section7.1' | translate}}</li>
            <li>{{'home.section7.2' | translate}}</li>
            <li>{{'home.section7.3' | translate}}</li>
            <li>{{'home.section7.4' | translate}}</li>
            <li>{{'home.section7.5' | translate}}</li>
            <li>{{'home.section7.6' | translate}}</li>
            <li>{{'home.section7.7' | translate}}</li>
          </ul>
        </div>
        <ng-template #elseBlock>
          <ul>
            <li>{{'home.section7.b1' | translate}}</li>
            <li>{{'home.section7.b2' | translate}}</li>
            <li>{{'home.section7.b3' | translate}}</li>
          </ul>
        </ng-template>
      </div>
      <div class="roap d-flex">
        <p (click)="roap1()" id="roap1" class="active">Q3</p>
        <p (click)="roap2()" id="roap2">Q4</p>
      </div>
    </div>
    <ng-lottie containerClass="injector" class="injector position-absolute" id="injector" [options]="injector"
      (animationCreated)="handleAnimation($event)"></ng-lottie>



  </div>
  <div class="buen-paper5 position-relative d-flex align-items-center justify-content-center">
    <img src="../../../assets/img/etc/buen-paper5.png" class="w-100 h-100" alt="">
    <div class="position-absolute">
      <a href="../../../assets/whitepapers/whitepaper_{{'lang' | translate}}.pdf" download>
      <app-btn text="Whitepaper"></app-btn></a>
    </div>
  </div>
  <app-faq></app-faq>
  <img src="../../../assets/img/etc/buen-paper.png" class="w-100 buen-paper6" alt="">
  <app-final></app-final>
</div>
<app-footer></app-footer>
<app-up></app-up>
