<div class="container-fluid home px-0 mx-0" id="scroll">
  <div class="section1 position-relative" id="hero">
    <app-header></app-header>
    <div class="row">
      <div class="col-12 col-lg-6 section1-box1 d-flex align-items-center justify-content-end">
        <div class="section1-box1-container d-flex flex-column  justify-content-center">
          <div>
            <p class="mb-0">¿Realmente entendemos lo que
              hay dentro de la cabeza de una
              persona que sufre una</p>
            <h2 class="text-center text-lg-start">Enfermedad mental?</h2>
            <button routerLink="/mint">Start Mint</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 section1-box2 d-flex align-items-end">
        <div class="section1-box2-container">
          <img src="../../../assets/img/picture/nft1.png" alt="">
        </div>
      </div>
    </div>
    <ng-lottie containerClass="fire-animation" class="fire-animation" [options]="option"
      (animationCreated)="animationCreated($event)"></ng-lottie>
  </div>
  <img src="../../../assets/img/etc/buen-paper.png" class="w-100 buen-paper " alt="">
  <div class="section2 position-relative">
    <div class="section2-container" id="history">
      <div>
        <h3 class="text-center">Historia
          Clínica</h3>
        <p>Adéntrate en el subconsciente de una de las mentes más retorcidas que ha pisado el mundo de los NFT. Miles de
          piezas que te mostrarán el sufrimiento, dolor y tragedia de un personaje oscuro y tenebroso. Accede a su mundo
          y
          sé parte de la selecta comunidad que tendrá acceso exclusivo a MISTERY BOX, una experiencia de inmersión en
          VIDEO JUEGO y una SERIE ANIMADA. </p>
      </div>
    </div>
  </div>
  <app-parallax1></app-parallax1>


  <div class="section4 d-flex">
    <div class="row d-flex align-items-center">
      <div class="section4-box1 col-12 col-lg-6">
        <div class="section4-box1-item d-flex align-items-center justify-content-center" id="nft">
          <app-title-sub-p title="NFT" sub="Super Yo" info1="Hellzel’s Mind es una colección de 6.666 piezas ilustradas de la serie animada con
        exclusividad para 300 NFT que vendrán en formato de animación en GIF y acceso al MISTERY BOX. Una propuesta gráfica
        inspirada en los años 30 entregada en piezas representativas de las diferentes enfermedades mentales."
            info2="Los fondos recaudados con el MINT serán destinados al desarrollo de la serie y el ecosistema en general.">
          </app-title-sub-p>
        </div>
      </div>
      <div class="section4-box2 col-12 col-lg-6">
        <div class="section4-box2-container d-flex justify-content-center align-items-center swiper nft">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper d-flex align-items-center">
            <!-- Slides -->
            <div class="swiper-slide">
              <img src=".:/../../../../assets/img/picture/nfts/ansiedad.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src=".:/../../../../assets/img/picture/nfts/autismo.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src=".:/../../../../assets/img/picture/nfts/bipolar.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src=".:/../../../../assets/img/picture/nfts/depression.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src=".:/../../../../assets/img/picture/nfts/esquizofrenia.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src=".:/../../../../assets/img/picture/nfts/hellzel.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src=".:/../../../../assets/img/picture/nfts/panico.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src=".:/../../../../assets/img/picture/nfts/ptsd.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src=".:/../../../../assets/img/picture/nfts/tda.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src=".:/../../../../assets/img/picture/nfts/tdi.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src=".:/../../../../assets/img/picture/nfts/trastorno-alimenticio.png" alt="">
            </div>
          </div>
        </div>
        <div class="carrusel d-flex justify-content-center align-items-center swiper nft">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper d-flex align-items-center">
            <!-- Slides -->
            <div class="swiper-slide">
              <h3>ansiedad</h3>
            </div>
            <div class="swiper-slide">
              <h3>autismo</h3>
            </div>
            <div class="swiper-slide">
              <h3>bipolar</h3>
            </div>
            <div class="swiper-slide">
              <h3>Depresión</h3>
            </div>
            <div class="swiper-slide">
              <h3>esquizofrenia</h3>
            </div>
            <div class="swiper-slide">
              <h3>hellzel</h3>
            </div>
            <div class="swiper-slide">
              <h3>panico</h3>
            </div>
            <div class="swiper-slide">
              <h3>ptsd</h3>
            </div>
            <div class="swiper-slide">
              <h3>tda</h3>
            </div>
            <div class="swiper-slide">
              <h3>tdi</h3>
            </div>
            <div class="swiper-slide">
              <h3>trastorno alimenticio</h3>
            </div>
          </div>

          <div class="swiper-button-prev nft-prev"></div>
          <div class="swiper-button-next nft-next"></div>

        </div>
      </div>
    </div>
  </div>
  <img src="../../../assets/img/etc/buen-paper.png" class="w-100 buen-paper4" alt="">
  <div class="section5">
    <div class="row justify-content-between">
      <div class="section5-box1 d-flex align-items-center row">
        <div class=" d-flex justify-content-center align-items-center w-100">
          <app-btn text="Mint"></app-btn>
        </div>
      </div>
      <div class="section5-box2 col-12">
        <div class="section5-box2-container">
          <div>
            <h3 class="text-center">Utilities</h3>
            <p class="parrafo1 text-center">
              Hellzel’s Mind otorgara el 50% de las ganancias de la serie y el ecosistema serán repartidas entre todos
              los
              holders, quienes también tendrán estos beneficios:
            </p>
            <div class="card">
              <ul>
                <li>
                  <div>1</div> Ser productores ejecutivos de la serie.
                </li>
                <li>
                  <div>2</div> Marketplace con merch exclusiva
                </li>
                <li>
                  <div>3</div> Giveaways exclusivos
                </li>
                <li>
                  <div>4</div> Ser parte del desarrollo del video juego
                </li>
                <li>
                  <div>5</div> Accesos exclusivos como primicias del ecosistema (NFTs canjeables por artículos de la
                  serie, airdrops de
                  nuestros socios aliados, entre otros)
                </li>
                <li>
                  <div>6</div> Posibilidad de asistir a la premiere de la serie.
                </li>
              </ul>
            </div>
            <p class="parrafo1 text-center">
              El 50% de los royalties serán enviados a instituciones que promueven la salud mental. Hellzel ofrece pool
              de liquidez por 36 meses con rendimiento del 0,5%.
              <br><br>
              Se creará una galería de experiencia inmersiva dentro del metaverso que permitirá a la comunidad obtener
              contenido exclusivo, personalizado y único dentro de Hellzel’s Land.

            </p>
          </div>
        </div>
      </div>
      <div class="section5-box3 col-12">
        <div class="section5-box3-container d-flex justify-content-between align-items-center">
          <app-btn text="Join Discord"></app-btn>
          <img src="../../../assets/img/logo-icons/discord.svg" alt="">
        </div>
      </div>
      <div class="section5-box4 col-12">
        <h3 class="text-center">Mystery Box</h3>
        <p class="parrafo1 text-center">
          Hacer parte de este ecosistema tendrá múltiples beneficios para la comunidad, como la Mystery Box, sólo habrá
          300 mystery box que las podrán obtener a través de los NFTs.

        </p>
      </div>
    </div>
  </div>
  <div class="section6 d-flex align-items-center">
    <div class="row">
      <div class="col-12 col-lg-5 section6-box1 d-flex justify-content-center align-items-center">
        <div class="section6-box1-container d-flex align-items-center">
          <ul>
            <li>
              <div></div> Escultura 3d (22cm)
            </li>
            <li>
              <div></div> NFT en versión Lenticular
            </li>
            <li>
              <div></div> Stickers
            </li>
            <li>
              <div></div> Hoodie
            </li>
            <li>
              <div></div> Libro Especial de Hellzel
            </li>
            <li>
              <div></div> QR Privado del trailer
            </li>
            <li>
              <div></div> Test de personalidad
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-7 section6-box2 d-flex justify-content-center align-items-center">
        <img src="../../../assets/img/picture/box.png" alt="">
      </div>
    </div>
  </div>
  <div class="section7 position-relative">
    <div class="section7-container d-flex flex-column align-items-center justify-content-center">
      <h3>Roadmap</h3>
      <h4>OBJETIVOS Q3 2022</h4>
      <div class="list-roap">
        <div *ngIf="roapActive == false; else elseBlock">
          <ul>
            <li>Creación de toda la colección de Hellzel: 6.666 piezas ilustradas</li>
            <li>Branding Hellzel.</li>
            <li>Script del primer capítulo.</li>
            <li>Guión promo Hellzel.</li>
            <li>Estructura de Web.</li>
            <li>Diseño de Web.</li>
            <li>Creación de rigg de personajes para animación, expresión sheet y turn around.</li>
          </ul>
        </div>
        <ng-template #elseBlock>
          <ul>
            <li>Diseño y desarrollo de experiencia VR.</li>
            <li>Lanzamiento promo. </li>
            <li>Lanzamiento Web.</li>
          </ul>
        </ng-template>
      </div>
      <div class="roap d-flex">
        <p (click)="roap1()" id="roap1" class="active">Q3</p>
        <p (click)="roap2()" id="roap2">Q4</p>
      </div>
    </div>
    <ng-lottie containerClass="injector" class="injector position-absolute" id="injector" [options]="injector"
      (animationCreated)="handleAnimation($event)"></ng-lottie>



  </div>
  <div class="buen-paper5 position-relative d-flex align-items-center justify-content-center">
    <img src="../../../assets/img/etc/buen-paper5.png" class="w-100 h-100" alt="">
    <div class="position-absolute">
      <app-btn text="Whitepaper"></app-btn>
    </div>
  </div>
  <app-faq></app-faq>
  <img src="../../../assets/img/etc/buen-paper.png" class="w-100 buen-paper6" alt="">
  <app-final></app-final>
</div>
<app-footer></app-footer>
<app-up></app-up>
