@import "../../../styles.scss";

.mint {
  background-image: url(../../../assets/img/backgrounds/bg-mint.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 930px;
  //LOGO PARTE DEL HEADER
  &-header {
    transform: translateY(-115px);
    &-img {
      background-color: #171717;
      width: 250px;
      height: 250px;
      margin: 0 auto;
      border-radius: 50%;
      transition: all 0.5s;
      z-index: 9999;
      img {
        max-width: 150px;
        width: 90%;
        margin-bottom: 1rem;
      }
      &::after {
        content: "";
        width: 98%;
        height: 150px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: rgb(0, 0, 0);
        background: linear-gradient(
          360deg,
          rgba(0, 0, 0, 0.0032387955182072714) 0%,
          rgba(0, 0, 0, 0.6418942577030813) 100%
        );
      }
    }
  }
  &-main {
    margin-top: -250px;
    height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: 1320px) {
      height: 100%;
      margin-top: -50px;
    }
    @media screen and (max-width: 840px) {
      margin-top: -35px;
    }
    &-btnHome {
      max-width: 1300px;
      width: 80%;
      margin: 0 auto;
      div {
        cursor: pointer;
        top: 8rem;
        @media screen and (max-width: 1320px) {
          top: -4rem;
        }
        @media screen and (max-width: 840px) {
          top: -3.5rem;
        }
        img {
          width: 130px;
          transform: translateX(15px);
          @media screen and (max-width: 840px) {
            width: 100px;
          }
        }
        button {
          font-size: 2rem;
          border: none;
          background-color: $red4;
          color: $white2;
          width: 155px;
          padding: 0.25rem 0;
          border-radius: 0.7rem;
          @media screen and (max-width: 840px) {
            font-size: 1.5rem;
            width: 140px;
            padding: 0.35rem 0;
          }
        }
      }
    }
    &-container {
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 1320px) {
        flex-direction: column;
        margin-bottom: 10rem;
        @media screen and (max-width: 840px) {
          margin-top: 2rem;
        }
      }
      &-box1 {
        background-image: url(../../../assets/img/etc/contenedor5.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 840px;
        height: 600px;
        @media screen and (max-width: 840px) {
          background-image: url(../../../assets/img/etc/contenedor5v.png);
          width: 500px;
          height: 760px;
        }
        @media screen and (max-width: 490px) {
          width: 390px;
          height: 595px;
        }
        @media screen and (max-width: 380px) {
          width: 320px;
          height: 485px;
        }
        & > div {
          width: 80%;
          margin: 0 auto;
          .marco {
            background-image: url(../../../assets/img/etc/marco3.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 205px;
            max-width: 650px;
            @media screen and (max-width: 840px) {
              height: 160px;
            }
            @media screen and (max-width: 490px) {
              background-image: none;
              height: 95px;
            }
            h4 {
              span {
                color: $red4;
              }
            }
            &-boxs {
              width: 100%;
              max-width: 300px;
              h5 {
                font-size: 1.1rem;
                margin: 1rem 0 0rem;
                @media screen and (max-width: 840px) {
                  margin: 0;
                }
                @media screen and (max-width: 840px) {
                  margin: 0.6rem 0 0;
                }
              }
              p {
                color: $red4;
                font-size: 1.7rem;
                margin-bottom: 0;
              }
            }
          }
          .mint-data {
            display: flex;
            @media screen and (max-width: 840px) {
              flex-direction: column;
            }
            &-box1 {
              width: 86%;
              @media screen and (max-width: 840px) {
                width: 100%;
              }
              h5 {
                font-size: 1.45rem;
                margin: 0.75rem 0 1.5rem;
                @media screen and (max-width: 840px) {
                  font-size: 1.1rem;
                }
                @media screen and (max-width: 380px) {
                  font-size: 1rem;
                  margin: 1rem 0 0.85rem;
                }
              }
              &-btn {
                background-color: $red4;
                height: 70px;
                border-radius: 1rem;
                padding: 1rem 1.2rem 1rem 1.6rem;
                max-width: 460px;
                width: 90%;
                @media screen and (max-width: 840px) {
                  width: 100%;
                }
                @media screen and (max-width: 490px) {
                  padding: 1rem 1rem;
                  height: 60px;
                }
                &-one {
                  height: 100%;
                  width: 75%;
                  @media screen and (max-width: 490px) {
                    max-width: 170px;
                  }
                  @media screen and (max-width: 380px) {
                    max-width: 135px;
                  }
                  p {
                    margin-bottom: 0;
                    color: white;
                    font-size: 1.4rem;
                  }
                  span {
                    background: white;
                    width: 2.65rem;
                    height: 2.65rem;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @media screen and (max-width: 490px) {
                      width: 2.2rem;
                      height: 2.2rem;
                    }
                    img {
                      width: 20px;
                      @media screen and (max-width: 490px) {
                        width: 16px;
                      }
                    }
                    &:last-child {
                      img {
                        width: 16px;
                        @media screen and (max-width: 490px) {
                          width: 14px;
                        }
                      }
                    }
                  }
                }
                &-two {
                  background-color: $black1;
                  border-radius: 0.35rem;
                  height: 100%;
                  p {
                    color: $white2;
                    padding: 0 0.6rem;
                  }
                }
              }
              .total {
                margin: 0.8rem 0;
                font-size: 1.5rem;
                @media screen and (max-width: 490px) {
                  font-size: 1.25rem;
                }
                span {
                  color: $red4;
                }
              }
              &-btn2 {
                font-size: 2rem;
                border: none;
                background-color: $red4;
                color: $white2;
                width: 155px;
                padding: 0.25rem 0;
                border-radius: 0.7rem;
                @media screen and (max-width: 490px) {
                  font-size: 1.5rem;
                }
              }
            }
            &-box2 {
              background-image: url(../../../assets/img/etc/mint-circle.png);
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
              margin-top: 2rem;
              &-img {
                width: 210px;
                height: 210px;
                @media screen and (max-width: 840px) {
                  margin: 0 auto;
                  width: 190px;
                  height: 190px;
                }
                @media screen and (max-width: 490px) {
                  width: 140px;
                  height: 140px;
                }
                @media screen and (max-width: 380px) {
                  width: 85px;
                  height: 85px;
                  margin-top: 0rem;
                }
                img {
                  width: 80%;
                  @media screen and (max-width: 490px) {
                    width: 65%;
                  }
                }
              }
            }
          }
        }
      }
      &-box2 {
        max-width: 540px;
        width: 80%;
        height: 540px;
        background-image: url(../../../assets/img/picture/nfts/bg-nft.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @media screen and (max-width: 435px) {
          height: 380px;
        }
        &-carrusel {
          .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 85%;
              border-radius: 1rem;
            }
          }
        }
      }
    }
  }
  .watering-can {
    bottom: 4rem;
    right: -1rem;
    z-index: 90;
    @media screen and (max-width: 1320px) {
      bottom: -5rem;
      width: 210px;
    }
    @media screen and (max-width: 380px) {
      bottom: -6rem;
      width: 150px;
    }
  }
}

footer {
  background-image: url(../../../assets/img/backgrounds/mint-footer.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 430px;
  margin-top: -10rem;
  z-index: 100;
  position: relative;
  .containt {
    h2 {
      color: $yellow;
      font-family: "Mr Dafoe";
      font-size: 3.5rem;
      margin-top: 8rem;
    }
    &-redes {
      img {
        width: 72px;
      }
    }
  }
}
