<div class="mint overflow-hidden">
  <header class="mint-header">
    <div class="mint-header-img  d-flex justify-content-center align-items-end  position-relative">
      <img src="../../../assets/img/logo-icons/logo.svg" alt="">
    </div>
  </header>
  <div class="mint-main position-relative">
    <div class="mint-main-btnHome d-flex align-items-center " routerLink="/home">
      <div class="position-absolute">
        <img src="../../../assets/img/picture/finger2.png" alt="">
        <button>{{'inicio' | translate}}</button>
      </div>
    </div>
    <div class="mint-main-container">
      <div class="mint-main-container-box1 d-flex justify-content-center align-items-center">
        <div>
          <div class="marco d-flex flex-column justify-content-center align-items-center">
            <h4 class="text-center">{{'mint.title1-a' | translate}} <span>{{'mint.title1-b' | translate}}</span></h4>
            <div class="marco-boxs text-center d-flex align-items-center justify-content-between">
              <div class="one">
                <h5>{{'mint.1' | translate}}</h5>
                <p>000</p>
              </div>
              <div class="two">
                <h5>{{'mint.2' | translate}}</h5>
                <p>000</p>
              </div>
              <div class="three">
                <h5>{{'mint.3' | translate}}</h5>
                <p>000</p>
              </div>
            </div>
          </div>
          <div class="mint-data">
            <div class="mint-data-box1">
              <h5 class="text-center">{{'mint.price-data' | translate}}: 200 USDT/Each</h5>
              <div class="mint-data-box1-btn d-flex justify-content-between align-items-center">
                <div class="mint-data-box1-btn-one d-flex justify-content-between align-items-center">
                  <span><img src="../../../assets/img/logo-icons/minus.svg" alt=""></span>
                  <p>00</p>
                  <span><img src="../../../assets/img/logo-icons/plus.svg" alt=""></span>
                </div>
                <div class="mint-data-box1-btn-two d-flex justify-content-center align-items-center">
                  <p class="mb-0">{{'mint.setmax' | translate}}</p>
                </div>
              </div>
              <p class="text-center total">Total: <span>0.000 USDT</span></p>
              <div class="d-flex justify-content-center">
                <button class="mint-data-box1-btn2">Mint</button>
              </div>

            </div>
            <div class="mint-data-box2">
              <div class="mint-data-box2-img d-flex justify-content-center align-items-center">
                <img src="../../../assets/img/picture/penny-head.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mint-main-container-box2 d-flex justify-content-center align-items-center">
        <div class="mint-main-container-box2-carrusel swiper nft-mint d-flex justify-content-center align-items-center">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <img src=".:/../../../../assets/img/picture/nfts/ansiedad.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src=".:/../../../../assets/img/picture/nfts/autismo.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src=".:/../../../../assets/img/picture/nfts/bipolar.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src=".:/../../../../assets/img/picture/nfts/depression.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src=".:/../../../../assets/img/picture/nfts/esquizofrenia.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src=".:/../../../../assets/img/picture/nfts/hellzel.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src=".:/../../../../assets/img/picture/nfts/panico.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src=".:/../../../../assets/img/picture/nfts/ptsd.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src=".:/../../../../assets/img/picture/nfts/tda.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src=".:/../../../../assets/img/picture/nfts/tdi.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src=".:/../../../../assets/img/picture/nfts/trastorno-alimenticio.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <img src=".:/../../../../assets/img/etc/watering-can.png" alt="" class="position-absolute watering-can">
  </div>
</div>
<footer class="d-flex justify-content-center align-items-center position-relative">
  <div class="containt d-flex flex-column justify-content-center align-items-center">
    <h2 class="text-center">Síguenos</h2>
    <div class="containt-redes d-flex justify-content-center align-items-center">
      <a href="https://discord.com/invite/a5dqwnDq7j" target="_blank" rel="noopener noreferrer">
        <img src="../../../assets/img/logo-icons/discord.png" alt="">
      </a>
      <a href="https://www.facebook.com/HellzelsMind?mibextid=LQQJ4d" target="_blank" rel="noopener noreferrer">
        <img src="../../../assets/img/logo-icons/facebook.png" alt="">
      </a>
      <a href="https://instagram.com/hellzelsmind?igshid=MWI4MTIyMDE=" target="_blank" rel="noopener noreferrer">
        <img src="../../../assets/img/logo-icons/instagram.png" alt="">
      </a>
      <a href="https://twitter.com/hellzelsmind" target="_blank" rel="noopener noreferrer">
        <img src="../../../assets/img/logo-icons/twitter.png" alt="">
      </a>
    </div>
  </div>
</footer>
